---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <section>
    <h1>Our History</h1>

    <p>
      The Humanitarian Mapathon started as an annual collaboration between UCLA and USC in celebration of GIS Day. With the original team members branching out to pursue new endeavors, the event has grown to an international scope.
      
      Below are links to the websites for past events:
    </p>

    <ul>
      <li><a href="https://la-mapathon.github.io/website-2024" target="_blank">2024 - 7th Annual Humanitarian Mapathon</a></li>
      <li><a href="https://la-mapathon.github.io/website-2023" target="_blank">2023 - 6th Annual Humanitarian Mapathon</a></li>
      <li><a href="https://la-mapathon.github.io/website-2022" target="_blank">2022 - 5th Annual Humanitarian Mapathon</a></li>
      <li><a href="https://sites.google.com/view/lamapathon/home" target="_blank">2020 - 4th Annual Humanitarian Mapathon</a></li>
    </ul>
  </section>
</div>