---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

{% comment %} <div id="hex-1" class="hexagon-large hexagon--light-orange hex-1">&#x2B22;</div>
<div id="hex-2" class="hexagon-large hexagon--orange hex-2">&#x2B22;</div>
<div id="hex-3" class="hexagon-large hexagon--light-gray hex-3">&#x2B22;</div>

<div id="hex-group-1">
  <div id="hex-4" class="hexagon-small hexagon--orange hex-group-1a">&#x2B22;</div>
  <div id="hex-5" class="hexagon-small hexagon--orange hex-group-1b">&#x2B22;</div>
</div> {% endcomment %}

<img src="/images/bear_sideways.png" alt="2025 International Humanitarian Mapathon" class="mapathon-bear">

<div class="container">

<section id="header">
  <div class="header--title">
    <div>
      <span class="header--yellow-bg">2025</span>
      </div>
    <div>
      <span class="header--title__text">International</span><br>
      <span class="header--title__text">Humanitarian</span><br>
      <span class="header--title__text">Mapathon</span><br>
    </div>
  </div>
  <div class="header--date">
    April 29, 2025 (US, Mexico)
  </div>
  <br>
  <div class="header--date">
    April 30, 2025 (Japan)
  </div>
</section>

<section id="description">
  <p>
    Save the date! The 2025 International Humanitarian Mapathon will be held on April 29, 2025 (US, Mexico) / April 30, 2025 (Japan). 
  </p>
  <p>
    Join fellow mappers from around the world to map the world! Learn about OpenStreetMap and Humanitarian Mapping. Join the Crisis Mapping Challenge. Share with other mappers from around the world. Beginners are welcome!
  </p>
</section>

{% comment %} <section id="registration">
  <a class="btn btn-orange btn-lg" id="btn-register" href="https://docs.google.com/forms/d/e/1FAIpQLSf-u16oZKqXY4Wa4H2ng_JJSStNeLBTMsM30H3M7oV8QSrQyQ/viewform">Register Here!
  <br>今すぐ登録
  </a>
</section>

<section id="description">
  <p>Join fellow mappers from around the world to map the world!</p>
  <p>Learn about OpenStreetMap. Join the UN Crisis Map Challenge. Share with other mappers from around the world. Beginners are welcome!</p>
</section>

<section id="days">
  <div class="day">
    <div class="day__number">Day 1</div>
    <div class="day__title">Humanitarian Mapping</div>
    <div class="day__description">
      <p>Learn about OpenStreetMap and how to map for humanitarian causes. Start by <a href="https://padlet.com/UCLA_Library/international-humanitarian-mapathon-2024-v9xzbflkecfhwugp" target="_blank">introducing yourself on Padlet</a>!</p>
    </div>
    <div>
      <a href="{{ '/schedule-day-1/' | htmlBaseUrl: page.lang  }}" class="btn btn-yellow btn-details" id="btn-day-1">More details</a>
    </div>
  </div>
  <div class="day">
    <div class="day__number">Day 2</div>
    <div class="day__title">UN Crisis Map Challenge</div>
    <div class="day__description">
      <p>Join the UN Crisis Map Challenge and create a map that tells a story.</p>
    </div>
    <div>
      <a href="{{ '/schedule-day-2/' | htmlBaseUrl: page.lang  }}" class="btn btn-yellow btn-details" id="btn-day-2">More details</a>
    </div>    
  </div>
  <div class="day">
    <div class="day__number">Day 3</div>
    <div class="day__title">International Meetup</div>
    <div class="day__description">
      <p>Join fellow mappers from around the world to share your work and learn from others.</p>
    </div>
    <div>
      <a href="{{ '/schedule-day-3/' | htmlBaseUrl: page.lang  }}" class="btn btn-yellow btn-details" id="btn-day-3">More details</a>
    </div>
  </div>
</section>

<section id="partners-and-supporters">
  <div id="thank-you">
    Thank you to our wonderful partners and supporters!
  </div>
  <div id="logo-section">
    <img src="/images/aoyama-logo_en.png" alt="Aoyama Gakuin University" class="logo"">
    <img src="/images/cgia.jpg" alt="CGIA" class="logo"">
    <img src="/images/DURP.png" alt="DURP" class="logo">
    <img src="/images/maptimelalogo.png" alt="Maptime LA" class="logo"">
    <img src="/images/Metro_logo_preferred_black.png" alt="Metro" class="logo">
    <img src="/images/reitaku-logo.png" alt="Reitaku University" class="logo">
    <img src="/images/un-smart-maps-group.png" alt="UN Smart Maps" class="logo">
    <img src="/images/ucla.png" alt="UCLA" class="logo">
    <img src="/images/UofH-Manoa.png" alt="University of Hawaii at Manoa" class="logo">
    <img src="/images/upri_ym.png" alt="UP Resilience Institute Youth Mappers" class="logo">
    <img src="/images/usc.png" alt="USC" class="logo">
  </div>
</section> {% endcomment %}

</div>