---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
    <h1>Padlet</h1>

    <section>
      <p>
        We will be using Padlet to share our ideas and thoughts. Please click on the link below to access Padlet.
      </p>
      <p>On Day 1 we will be covering how to use Padlet for the Mapathon.  The recording will be linked here for your reference.</p>
      <p>Each day we will have instructions for different colors to use on Padlet.</p>
    </section>
</div>