---
layout: default
---

{% if page.lang == 'en' %}
{% assign source = en_content %}
{% elsif page.lang == 'ja' %}
{% assign source = ja_content %}
{% endif %}

{% comment %} <div id="hex-group-1">
  <div id="hex-4" class="hexagon-small hexagon--orange hex-group-1a">&#x2B22;</div>
  <div id="hex-5" class="hexagon-small hexagon--orange hex-group-1b">&#x2B22;</div>
</div>

<div id="hex-group-2">
  <div id="hex-6" class="hexagon-small hexagon--orange hex-group-2a">&#x2B22;</div>
  <div id="hex-7" class="hexagon-small hexagon--orange hex-group-2b">&#x2B22;</div>
</div> {% endcomment %}

<div class="container">
<section>
  <h1>Day 2 - UN Crisis Storymap Challenge</h1>
  <p>This year we're introducing a new component to the Mapathon, a mapping challenge!</p>
  
  <p>We're partnering with the United Nations Smart Mapping group for this challenge.  They will select a package of data for a certain region.  Participants will look at the data and select what they want to map.
    
  <p>New mappers are encouraged to participate! Workshops will be held Locally.</p>

  <h2>The Challenge!</h2>
  <p><a href="https://docs.google.com/document/d/1oYQ2qodUfvWX8s_xHt8TA2kGkLukuYARWwYNvRoN7es/edit?usp=sharing" target="_blank">UN Crisis Storymap Challenge Instructions</a></p>
  
</section>

<section>
  <h2>Submitting Your Map</h2>
  <p>The deadline for submitting your maps on Padlet will be at:
    <ul>
      <li>6pm, Thursday, April 25 (Los Angeles)</li>
      <li>3pm, Thursday, April 25 (Hawaii)</li>
      <li>7pm, Thursday, April 25 (Mexico City)</li>
      <li>9am, Friday, April 26 (Manila)</li>
      <li>10am, Friday, April 26 (Tokyo)</li>
    </ul>
  </p>
</section>

<section>
  <h2>Local Events</h2>
  <p>Join an in-person event near you:</p>

  <h3>Los Angeles, California, US</h3>
  <p>
    <strong>MaptimeLA</strong> - 6:30pm @ Metro HQ (1 Gateway Plaza, Los Angeles, CA 90012) - <a href="https://www.meetup.com/maptimela/events/300299056/" target="_blank">RSVP here!</a>
  </p>
  <p>
    <strong>UCLA</strong> - 12pm - Virtual
  </p>
  <p>
    <strong>USC</strong> - 4-8pm @ LIPA Library (lower level of DMC Building). Drop by any time for the UN Crisis Map Challenge!
  </p>

  <h3>Manila, Philippines</h3>
  <p>
    <strong>University of the Philippines</strong> - TBD
  </p>

  <h3>Manoa, Hawaii, US</h3>
  <p>
    <strong>University of Hawaii at Manoa</strong> - 1:30pm to 4:30pm @ Saunders 635
  </p>

  <h3>Mexico City, Mexico</h3>
  <p>
    <strong>GeoCentro</strong> - TBD
  </p>

  <h3>Tokyo, Japan</h3>
  <p>
    <strong>Reitaku University</strong> - Please visit <a href="https://yohman.github.io/istudio/site/">this page</a> for more information.
  </p>


</section>

</div>