---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

{% comment %} <div id="hex-group-1">
  <div id="hex-4" class="hexagon-small hexagon--orange hex-group-1a">&#x2B22;</div>
  <div id="hex-5" class="hexagon-small hexagon--orange hex-group-1b">&#x2B22;</div>
</div>

<div id="hex-group-2">
  <div id="hex-6" class="hexagon-small hexagon--orange hex-group-2a">&#x2B22;</div>
  <div id="hex-7" class="hexagon-small hexagon--orange hex-group-2b">&#x2B22;</div>
</div> {% endcomment %}

<div class="container">

<section>
  <h1>Day 3 - International Meetup</h1>
  <p>
    Our final day will be primarily virtual, so we hope you can attend in real-time!
  </p>
  <p>
    Events will include:
    <ul>
      <li>Lightning presentations summarizing events from each region.</li>
      <li>International Breakout Rooms - Meet other mappers from across the globe, share the maps you've created and share your experience participating in the Mapathon!</li>
      <li>Vote for your favorite maps on Padlet!</li>
      <li>Awards! We'll conclude with the results from our UN Smart Mapping panel of judges, as well as a special People's Choice Award.</li>
    </ul>
  </p>

  <p>The event will start on Zoom at 6pm Pacific Time (GMT-7)!</p>
</section>

{% comment %} <section>
  <h2>Schedule</h2>
  <p>Select your timezone: 
    <select id="timezone-selector" class="form-select form-inline"></select>
  </p>

<table class="schedule__table">
  <tr>
    <th width="30%">Time</th>
    <th>Event</th>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T01:00Z">Thu, Apr 25, 2024, 6:00 PM</td>
    <td>Lightning presentations summarizing events from each region.</td>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T01:15Z">Thu, Apr 25, 2024, 6:15 PM</td>
    <td>International Breakout Rooms - Meet other mappers from across the globe, share the maps you've created and share your experience participating in the Mapathon!</td>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T02:00Z">Thu, Apr 25, 2024, 7:00 PM</td>
    <td>Awards! We'll conclude with the results from our UN Smart Mapping panel of judges, as well as a special People's Choice Award.</td>
  </tr>
</table>
</section> {% endcomment %}

<section>
  <h2>Local Events</h2>
  <p>Join an in-person event near you:</p>

  <h3>Los Angeles, California, US</h3>
  <p>
    <strong>MaptimeLA</strong> - 6pm - Virtual
  </p>
  <p>
    <strong>UCLA</strong> - 6pm - Virtual
  </p>
  <p>
    <strong>USC</strong> - 6-7pm @ USC Sustainability Hub
  </p>

  <h3>Manila, Philippines</h3>
  <p>
    <strong>University of the Philippines</strong> - TBD
  </p>

  <h3>Manoa, Hawaii, US</h3>
  <p>
    <strong>University of Hawaii at Manoa</strong> - Virtual
  </p>

  <h3>Mexico City, Mexico</h3>
  <p>
    <strong>GeoCentro</strong> - TBD
  </p>

  <h3>Tokyo, Japan</h3>
  <p>
    <strong>Reitaku University</strong> - Please visit <a href="https://yohman.github.io/istudio/site/">this page</a> for more information.
  </p>


</section>

</div>

