---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <section id="team">
    <h1>Meet the Team!</h1>

    <div class="locale">
    <h2>Tokyo, Japan</h2>

    <p><strong>Reitaku University</strong> - <a href="https://www.linkedin.com/in/yohman/" target="_blank">Yoh Kawano</a></p>

    <p><strong>Hitotsubashi University</strong> - <a href="#" target="_blank">Sumie Nakaya</a></p>
    </div>

    <div class="locale">
    <h2>Mexico City, Mexico</h2>

    <p><strong>CentroGeo</strong> - <a href="https://www.linkedin.com/in/iskarwaluyo/" target="_blank">Iskar Waluyo</a></p>
    </div>

    <div class="locale">
    <h2>Manila, Philippines</h2>

    <p><strong>University of the Philippines, Manila</strong> - <a href="https://www.linkedin.com/in/feye-andal/" target="_blank">Feye Andal</a></p>
    </div>
    <div class="locale">
    <h2>Los Angeles, California, United States</h2>

    <p><strong>MaptimeLA</strong> - <a href="https://www.linkedin.com/in/ninakin/" target="_blank">Nina Kin</a>, <a href="https://www.linkedin.com/in/oureta/" target="_blank">Omar Ureta</a></p>
    
    <p><strong>University of California, Los Angeles</strong> - <a href="https://www.linkedin.com/in/zhiyuan-yao-8b7b13101/" target="_blank">Zhiyuan Yao</a>, <a href="https://www.linkedin.com/in/maggie-tarmey/" target="_blank">Maggie Tarmey</a>, <a href="https://oarc.ucla.edu/about/our-team/ryan-horne" target="_blank">Ryan Horne</a></p>
    
    <p><strong>University of Southern California</strong> - <a href="https://www.linkedin.com/in/andy-rutkowski-7906b15b/" target="_blank">Andy Rutkowski</a>, <a href="https://www.linkedin.com/in/jennifernswift/" target="_blank">Jennifer Swift</a>, <a href="https://dornsife.usc.edu/spatial/profile/laura-c-loyola/" target="_blank">Laura C. Loyola</a>, <a href="https://www.instagram.com/scmappers/" target="_blank">SC  Mappers</a></p>
    </div>

    {% comment %} <div class="locale">
    <h2>Manoa, Hawaii, United States</h2>

    <p><strong>University of Hawaii, Manoa</strong> - <a href="https://durp.manoa.hawaii.edu/faculty/suwan-shen/" target="_blank">Suwan Shen</a></p>
    </div>
    
    <div class="locale">
    <h2>United Nations</h2>

    <p><strong>Smart Maps Group</strong> - <a href="https://www.linkedin.com/in/albertkun/" target="_blank">Albert Kochaphum</a></p>
    </div> {% endcomment %}
  </section>
</div>