/*
 * Color Palette
 * 
 * #ffef44 - Yellow
 * #fff692 - Light Yellow
 * #ffb250 - Orange
 * #f4e1cf - Light Orange
 * #e9ebeb - Light Gray
 * #aaa - Dark Gray
 * #fff - White
 * #000 - Black
 */

@property --light-gray {
    syntax: "<color>";
    inherits: false;
    initial-value: #e9ebeb;
}

@property --dark-gray {
    syntax: "<color>";
    inherits: false;
    initial-value: #aaa;
}

@property --yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffef44;
}

@property --light-yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #fef8b5;
}

@property --orange {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffb250;
}

@property --light-orange {
    syntax: "<color>";
    inherits: false;
    initial-value: #f4e1cf;
}

body {
    overflow-x: hidden;
}

.hexagon-large-group {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: -1000;
}

.hexagon-large {
    font-size: 400px;
}

.hexagon-small {
    z-index: -1000;
    font-size: 100px;
}

.hexagon--orange {
    color: var(--orange);
}

.hexagon--light-orange {
    color: var(--light-orange);
}

.hexagon--light-gray {
    color: var(--light-gray);
}

#hex-1 {
    position: absolute;
    left: -120px;
    top: -50px;
}

#hex-2 {
    position: absolute;
    left: 10px;
    top: -290px;
}

#hex-3 {
    position: absolute;
    left: 140px;
    top: -50px;
}

#hex-group-1 {
    position: absolute;
    z-index: -1000;
    right: 50px;
    top: 800px;
}

#hex-group-2 {
    position: absolute;
    z-index: -1000;
    left: 50px;
    top: 200px;
}

.hex-group-2b {
    position: relative;
    top: -90px;
    left: -30px;
}

.hex-group-1b {
    position: relative;
    top: -90px;
    left: 30px;
}

.mapathon-bear {
    position: absolute;
    z-index: -1000;
    right: 0;
    top: 50px;
}

section {
    margin: 2rem 0;
}

h1 {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--yellow);
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#header {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.header--title {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-bottom: 1 rem;
    gap: 1rem;
}

.header--yellow-bg {
    background-color: var(--yellow);
    font-size: 3rem;
    padding: 0.25rem;
}

.header--title__year{
    font-size: 4rem;
    padding: 0.25rem;
    background-color: var(--yellow);
}

.header--title__text{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    padding: 0.25rem;
    background-color: #ffffff;
}

.header--date {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: inline-block;
    background-color: var(--yellow);
}

#description {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: #eeeeeeaa;
}

#days {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.day {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1rem;
    border: solid 2px var(--dark-gray);
    border-radius: 10px;
    background-color: #ffffffaa;
    
}

.day__number {
    color: var(--dark-gray);
}

.day__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    /* flex-grow: 1; */
}

.day__description {
    flex-grow: 1;
}

.day__description  p {
    text-align: justify;
}

.btn-details {
    margin: 0 auto;
    width: 100%;
}

#registration {
    margin-top: 2rem;
    text-align: center;
}

#btn-register {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}

.yellow-bg {
    background-color: var(--yellow);
}

.btn-yellow {
    background-color: var(--yellow);
}

.btn-yellow:hover {
    background-color: var(--light-yellow);
    border-color: var(--yellow);
}

.btn-light-gray {
    background-color: var(--light-gray);
}

.btn-light-gray:hover {
    background-color: var(--dark-gray);
}

.btn-orange {
    background-color: var(--orange)
}

.btn-orange:hover {
    background-color: var(--light-orange);
    border-color: var(--orange);
}

.schedule__table {
    width: 100%;
    margin: 1rem 0;
    border: var(--light-gray) solid 2px;
    border-collapse: collapse;
    background-color: #ffffffaa;
}

.schedule__table td, .schedule__table th {
    padding: 1rem 0.5rem;
    border: var(--light-gray) solid 2px;
}


#logo-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#thank-you {
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#logo-section img {
    align-self: center;
    max-width: 250px;
    max-height: 200px;
    margin: 1rem;
}

.locale {
    margin: 2rem 0;
}

/* Create a @media breakpoint for tablet and larger sized screens */
@media (min-width: 768px) {
    .header--title {
        flex-direction: row;
    }

    #btn-register {
        width: 100%;
    }

    #days {
        flex-direction: row;
        gap: 1rem;
    }

    .day {
        flex: 1;
    }

    #logo-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

/* Old Styles */

.schedule {
    border-spacing: 15px 0px;
    border-collapse: separate;
}

.day-start {
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-top: solid 2px black;
}

.day-time {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.day-end {
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black !important;
}

.schedule img.flag {
    width: 30px;
}

